<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "ContactPage",
  "@id": "{{ site.url }}/contact/#page",
  "url": "{{ site.url }}/contact/",
  "about": {
    "@type": "LocalBusiness",
    "name": "{{ site.company.name | default: 'Your Company LLC' }}",
    "telephone": "{{ site.company.phone_link | default: '+15551234567' }}",
    "areaServed": "{{ site.company.service_area | default: 'Local Service Area' }}",
    "license": "{{ site.company.license | default: 'Licensed & Insured' }}"
  },
  "mainEntity": {
    "@type": "Action",
    "name": "Request a Free Quote",
    "target": "{{ site.url }}/contact/",
    "result": {
      "@type": "Thing",
      "name": "Project Proposal"
    }
  }
}
</script>
